{% extends 'afterglow/base.html' %}
{% load static %}
{% block title %}HOME | ZAWA{% endblock %}

{% block header %}
      <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0"></h1>
        <h2 class="masthead-subheading mb-0">AIアプリで遊んでみよう!</h2>
        <a href="{% url 'afterglow:afterglow_det' %}" class="btn btn-primary btn-xl rounded-pill mt-5 active">Go Detection!</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}

{% block contents %}
      <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'afterglow/img/01.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">WORKS</h2>
            <p>BanG Dream!に登場するバンドであるAfterglowのメンバーのキャラクターをAIが判別してくれます。OpenCVとTensorFlowを用いてデータセットや判別モデルの作成を行いました。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'afterglow/img/02.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">About Me</h2>
            <p>はじめまして。滋賀大学4年の岡澤駿と申します。一度別の大学に入学しましたが、「自分が作ったもので人々の生活をより便利なものにしたい」と思い、前の大学を中退して現在の大学に入学しました。大学では深層学習の画像認識・処理分野の研究をしています。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}