body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top:6rem;
}

.custom-file {
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}

section.my_profile {
     background-color: #fa6775;
}
